/TAGS
/aclocal.m4
/autom4te.cache
.deps
.libs
*212r.expand
*.la
*.lo
*.o
*~
/bombolla/shell/bombolla-shell
build
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
Makefile
Makefile.in

/tests/test-suite.log
/tests/bombolla-core-test.trs
/tests/bombolla-core-test.log
/tests/bombolla-core-test
/test-driver
/libtool.m4
/ltoptions.m4
/ltsugar.m4
/ltversion.m4
/lt~obsolete.m4
/examples/vala/plugin-in-vala.c
/examples/vala/liblba_vala_example_la_vala.stamp
/tests/test-plugin-in-vala
/tests/test-plugin-in-vala.log
/tests/test-plugin-in-vala.trs
