/TAGS
/aclocal.m4
/autom4te.cache
.deps
.libs
*212r.expand
*.la
*.lo
*.o
*~
/bombolla/shell/bombolla-shell
build
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
Makefile
Makefile.in

